@media screen and (min-width: 360px) {
    #btnAlterar { margin: 1.5px 0 0 60px; }
    #btnCancelar { margin-left: 18%; }

    table { margin-left: 2%; }

    .equipe img { margin-left: 17%; }

    .github img { margin-left: 36%; }

    .topo { margin-left: 28%; }
}


@media screen and (min-width: 550px) {
    .menu a:nth-child(4) { float: left; }

    .menu, .menuresponsivo { width: 90%; }    

    #btnEnviar { margin-left: 45%; }

    #btnAlterar { margin-left: 8em; }
    #btnCancelar { margin-left: 12em; }

    .inputs { margin-left: -0.5%; }

    input { width: 100%; }

    table { width: 95%; margin-left: 3%;}       

    .equipe img { margin-left: 30%;}
    
    .equipe p, .github p { margin-left: 10px; }

    .github img { margin-left: 41%; }    

    .topo { margin-left: 37%; }
}

@media screen and (min-width: 600px) { .menu a:nth-child(4) { float: right; } }

/* Desktop */
@media screen and (min-width: 768px) {   
    .menu { width: 98%; }
    
    #btnEnviar, #btnAlterar, #btnCancelar { margin: 0; }

    #btnEnviar { margin-top: 8.3em; }

    #btnAlterar,
    #btnCancelar {  margin-top: 8.8em; }

    input { width: 100%; }

    .inputs { margin-left: 5%; }

    .tabela { margin-left: 1%; }

    table { width: 95%; }

    .equipe img { margin: 0; margin-left: 36%; }

    .equipe p, .github p { padding: 10px; }

    .github img { margin-left: 43%; }    

    .topo { margin-left: 42%; margin-bottom: -20%; }
}

@media screen and (min-width: 900px) {
    .menu { width: 98%; }
    
    #btnEnviar, #btnAlterar, #btnCancelar { margin: 0; }

    #btnEnviar { margin-top: 8.3em; }

    #btnAlterar,
    #btnCancelar {  margin-top: 8.8em; }

    input { width: 100%; }

    .inputs { margin-left: 4%; }    

    table { width: 95%;}

    .equipe img { margin: 0; margin-left: 38%; }

    .equipe p, .github p { padding: 10px; }

    .github img { margin-left: 44.5%; }    

    .topo { margin-left: 42%; margin-bottom: -20%; }
}

@media screen and (min-width: 1100px) {
    .menu { width: 98%; }
    
    #btnEnviar, #btnAlterar, #btnCancelar { margin: 0; }

    #btnEnviar { margin-top: 8.3em; }

    #btnAlterar,
    #btnCancelar {  margin-top: 8.8em; }

    input { width: 100%; }

    .inputs { margin-left: 4%; }    

    table { width: 95%;}

    .equipe img { margin: 0; margin-left: 40%; }

    .equipe p, .github p { padding: 10px; }

    .github img { margin-left: 45.5%; }    

    .topo { margin-left: 43%; margin-bottom: -20%; }
}

@media screen and (min-width: 1300px) {
    .menu { width: 98%; }
    
    #btnEnviar, #btnAlterar, #btnCancelar { margin: 0; }

    #btnEnviar { margin-top: 8.3em; }

    #btnAlterar,
    #btnCancelar {  margin-top: 8.8em; }

    input { width: 100%; }

    .inputs { margin-left: 4%; }    

    table { width: 95%;}

    .equipe img { margin: 0; margin-left: 42.5%; }

    .equipe p, .github p { padding: 10px; }

    .github img { margin-left: 46.5%; }    

    .topo { margin-left: 45%; margin-bottom: -20%; }
}


/* Celulares */
[class^="col-"] { width: 100%; }

/* Tablets */
@media only screen and (min-width: 550px) {
    .col-t-1 { width: 8.33%; }
    .col-t-2 { width: 16.66%; }
    .col-t-3 { width: 25%; }
    .col-t-4 { width: 33.33%; }
    .col-t-5 { width: 41.66%; }
    .col-t-6 { width: 50%; }
    .col-t-7 { width: 58.33%; }
    .col-t-8 { width: 66.66%; }
    .col-t-9 { width: 75%; }
    .col-t-10 { width: 83.33%; }
    .col-t-11 { width: 91.66%; }
    .col-t-12 { width: 100%; }
}

 /* Desktops */
@media only screen and (min-width: 768px) {
    .col-d-1 { width: 8.33%; }
    .col-d-2 { width: 16.66%; }
    .col-d-3 { width: 25%; }
    .col-d-4 { width: 33.33%; }
    .col-d-5 { width: 41.66%; }
    .col-d-6 { width: 50%; }
    .col-d-7 { width: 58.33%; }
    .col-d-8 { width: 66.66%; }
    .col-d-9 { width: 75%; }
    .col-d-10 { width: 83.33%; }
    .col-d-11 { width: 91.66%; }
    .col-d-12 { width: 100%; }
}