.github h3 {
    text-align: center;
    font-size: 3em;
    padding: 15px;
}

.github img {    
    height: 100px;
    margin-left: 33%;
}

.gitDescriçao p {
    color: black;
    text-align: center;    
}

.gitDescriçao a { 
    color: #333;
    font-weight: bold;
    text-decoration: none;
    transition: 200ms;
}

    .gitDescriçao a:hover { color: #56C; }